@import 'https://fonts.googleapis.com/css?family=Armata|Kadwa';
/*font-family: 'Armata', sans-serif;
font-family: 'Kadwa', serif;*/


/*orange #F4A549
brown #B4684A
off white #F2F3F4
pink #F1D3C9
dark #402524*/

/*contact form style - need to move into sheet*/
.container {
  width: 20%;
  margin: 10% auto;
  text-align: center;
  background: #F2F3F4;
  padding: 20px;
  border: 2px solid #F4A549;
}

.contact_column {
	width: 30%;
	margin: 120px 10%;
	float: left;
	color: #402524;
	text-align: left;
	font-family: 'Armata', sans-serif;
}

.contact_column h3, .contact_column p, .contact_column a{
	padding: 10px 5px;
}

.contact_column h3 {
	padding: 30px;
	text-align: center;
}

.contact_column a {
	color: #F4A549;
	text-decoration: none;

}
.inline {
	display: inline;
}

button {
	font-size: 1.2em;
	font-family: 'Armata', sans-serif;
	padding: 5px 10px;
	border-color: #F4A549;
	background-color: #FFF;
}
h3 {
  padding: 10px;
  color: #fff;
  font-size: 20px;
  }

fieldset {
  border: none;
}

input, textarea {
  width: 80%;
  height: 30px;
  border: none;
  padding: 10px;
  margin: 5px;
  font-family: 'Armata', sans-serif;
 
}
textarea {
  height: 80px;
}

label {
  padding: 5px 10px;
  color: #fff;
  background: #a2a2a2;
  border: 1px solid #fff;
}

form p {
	text-align: center;
	max-width: 600px;
}
/*General*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
	font-family: 'Kadwa', serif;
	background: #F2F3F4;
}


figure{
    width:30%;
    margin:5em 1.56%;
    position:relative;
    display: inline-block;
    float: left;
}

figcaption{   
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    top:60%;
    -webkit-transform:translateY(-60%);  /* chrome and safari */
    -moz-transform:translateY(-60%); /* firefox */
    -o-transform:translateY(-60%); /* internet explorer */
    transform:translateY(-60%);
}

figure img{
    width:100%;
    display:block;
}

figure h3 {
	padding: 10px 0;
	text-transform: uppercase; 
	color:#000;
	background: rgba(255, 255, 255, 0.5);
	border-top: solid 2px #F4A549;
    border-bottom: solid 2px #F4A549;
}
footer {
	background: #402524;
}

footer .current {
	color: #F4A549;
	}

footer hr {
	width: 100%;
	height: 0.2em;
	border: none;
	background: #F4A549;
}
footer nav {
	
	font-size: 0.9em;
	font-family: 'Armata', sans-serif;
	float: left;
	padding: 0.7em;
}

footer nav a {
	width: 10%;
	padding: 1.7em 1.2em;
	text-decoration: none;
	color: #F2F3F4;
	border-right: dotted 0.1em #F2F3F4;
}

footer nav a:hover{
	color: #F4A549;
}

footer p {
	float: right;
	color: #F2F3F4;
	padding: 0.5em 0.3em;
}

h1 {
	font-size: 3em;
	font-family: 'Scope One', serif;

}

h3 {
	font-family: 'Armata', sans-serif;
	color: black;
	font-size: 2em;
	padding: 0 1em 1em 1em;
}

header{
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
 	left: 0;
 	font-family: 'Armata', sans-serif;
}
header .current {
	background: #03465C;
}

header div {
	background: #fff;
	text-align: center;
	padding-bottom: 3px;
}

header div a {
	display: block;
	text-decoration: none;
}

header h2 {
	padding-top: 10px;
	color: #595757;
}

header h4 {
	text-decoration: none;
	color: #595757;
	padding-bottom: 10px;
}

header hr {
	border: none;
	height: 2px;
	background-color: #F4A549;
	width: 220px;
	margin-left: auto;
	margin-right: auto;
}

header nav {
	background: #402524;
	font-size: 1em;
	text-align: center;
	padding: 10px;
	border-bottom: solid #F4A549 2px;
	border-top: solid #F4A549 2px;
}

header nav a {
	padding: 10px 20px;
	text-decoration: none;
	color: #fff;
}

header nav a:hover{
	background: #03465C;
}


hr {
	width: 100%;
	height: 0.5em;
	border: none;
	background: #F4A549;
}

header label{
    display:none;
    text-align:center;
    text-transform:uppercase;
    color:#999;
    text-decoration:none;
    font-family:sans-serif;
    letter-spacing:1px;
}

main label {
	background-color: #888;
	text-align: center;
	font-size: 2em;
	border: solid 0.05em #F4A549;
	color: #fff;
	display: block;
	margin: 1em auto;
	width: 5em;
}

label:hover {
	background-color: #F4A549;

}
main {
	padding: 0 10%;
	background: #F2F3F4;
}

main h1 {
	color: black;
	size: 4em;
	padding: 200px;
	margin: 0 auto;
	text-align: center;
}

main img {
	width: 100%;
	display: block;
	
}

p {
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
	max-width: 480px; 
}





/*Classes*/
.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #F4A549;
  background: #F2F3F4;
  margin: auto;
}

.btn {
	color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #F4A549;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 2em;
    font-family: 'Armata', sans-serif;

}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.column-2 h3 {
	color: #fff;
}

.column-2_plain {
	width: 44%;
	margin: 80px 3%;
	float: left;
	color: #402524;
	text-align: center;
}

.container {
	width: 50%;
	display: block;
	float: left;


}

.hero {
	color: #573231;
	background: url(stage-lighting.jpg) top right no-repeat; background-attachment:fixed;
	background-size: cover;
	height: 40em;
	text-align: center;
	padding: 10em 0;
	border-bottom: solid 0.5em #F4A549;
	
}
.hero img {
	width: 26em;
	max-width: 80%;

}

.hero p {
	padding: 10px;
	font-size: 1.5em;
	font-family: 'Scope One', serif;

}
.left {
	float: left;
}
.lrg {
	width: 100%;
	display: block;
	margin: 0;
	position: static;
}

.main {
	padding: 60px 15%;
	height: 800px;
}

.med {
	width: 50%;
	display: block;
}

.med_image {
	width: 500px;
	margin: auto;
	border: none;
}
.right {
	float: right;
}
.sml {
	width: 25%;
	display: block;
}
.small_image {
	width: 200px;
	margin: auto;
	border: none;
}

.social_media {
	margin: 1em auto 5em;
	border-bottom: solid 0.4em #F4A549;
	border-top: solid 0.4em #F4A549;
	padding: 1em 20% 0;
	background: #fff;
}

.social_media div {
	width:10%;
	margin: 0 11.5%;
	/*display: inline-block;*/
	float: left;
}

.social_media img {
	width: 100%;
}


.wrap {
	width: 80%;
	margin: 6em auto;
}

/*ID's*/

#about_me {
	padding: 20px;
	border: solid 2px #F4A549;
}

#about_me_main {
	padding: 5% 10%;
	background: #F2F3F4;
}

#menu{
    display:none;
    visibility:hidden;
    height:0;
}

#portfolio_main {
	padding: 8% 10%;
	background: #F2F3F4;
}

#portfolio_main img {
	border: 4px solid #fff;
}

#portfolio_2016,
#portfolio_2015,
#portfolio_2014,
#portfolio_2013 {
	display: none;
}

#year_2016,
#year_2015,
#year_2014,
#year_2013 {
	display:none;
    visibility:hidden;
    height:0;
}

#year_2016:checked + #portfolio_2016 {
	display: block;
}

#year_2015:checked + #portfolio_2015 {
	display: block;
}

#year_2014:checked + #portfolio_2014 {
	display: block;
}

#year_2013:checked + #portfolio_2013 {
	display: block;
}



/*Media Queries*/

@media screen and (max-width:1250px){

	/*figure{
	    width:30%;
	    margin:60px 1.6%;    
	}*/

    main {
		padding: 0 5%;
	
	}

	#about_me_main {
		padding: 5% 0;
		
	}

	#portfolio_main {
	padding: 8% 5%;
	}

	.wrap {
	width: 90%;

	}


@media screen and (max-width:1040px){

/*	figure{
	    width:100%;
	    margin:60px 5%;
    }*/
    main {
		padding: 0 5%;
	
	}
	.column-2_plain {
		width: 60%;
		padding: 0 10%;
		margin: 0 20%;

	}

	.column-2_plain p{
		margin: 0 auto;
		padding: 0 1em;
	}

	.column-2_plain img {
		width: 96%;
		margin-top: 8em;
		
	}
	.container {
	width: 100%;
	display: block;
	}



	.btn {
	margin: 0.5em;
	}

	#portfolio_main {
	padding: 15% 5% 10% 5%;
	}
	.wrap {
	width: 90%;
	}


@media screen and (max-width:850px){
	
	figure{
	    width:100%;
	    /*margin:1.5em auto;
    }*/
	}

    header nav,
    footer nav,
    footer p{
    	float: none;
    	text-align: center;
    	/*font-size: 0.6em;
    	padding: 0.4em;*/
    }

    header nav a,
    footer nav a { 
	   padding: 0.4em;
	    border: none;
	}

	.column-2_plain {
		width: 96%;
		padding: 0 10%;
		margin: 0 2%;

	}

	.column-2_plain p{
		margin: 0 auto;
		/*font-size: 0.8em; 
		padding: 0 1em;*/
	}

	.column-2_plain img {
		width: 96%;
		/*margin-top: 8em;*/
		
	}

	.container {
	width: 100%;
	display: block;
	}

	.hero {
		/*height: 28em;
		padding: 6em 0;*/
	}

	/*.hero img {
		width: 96%;
	}*/

	.social_media {
		padding: 1em 0 0;
	}	

	#portfolio_main {
	padding: 30% 0 10% 0;

	}

	header label{
        display:block;
        color: #fff;
        padding: 0.8em 0;
        background: #402524;
        border-bottom: solid #F4A549 2px;
        border-top: solid #F4A549 2px;
}

header nav a {
	padding: 10px 20px;
    }
    
    header nav{
        display:none;
    }
    
    header nav a{
        display:block;
    }
    
    #menu:checked + nav{
        display:block;
    }



@media screen and (max-width:450px){
	.hero {
	height: 35em;
	}

}




