* {
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	box-sizing: border-box;
}
header {
	position: fixed;
	/*opacity: 0.85;*/
	width: 100%;
	z-index: 9999;
	top: 0;
 	left: 0;
}
header div {
	background: white;
	text-align: center;
	margin-top: -20px;
	padding: 10px;
	color: #595757;
}
header h2 {
	text-decoration: underline;
	padding-top: 10px;
	color: #595757;
}
header h3 {
	margin-top: -20px;
	text-decoration: none;
	color: #595757;
}

nav {
	background: #595757;
	margin-top: -20px;
	padding: 20px;
	font-size: 0.9em;
	
 	
}
/*#logo {
	height: 40px;
	width: 40px;
	margin-bottom:-15px;*/
}

nav a {
	text-decoration: none;
}
.link {
	padding: 20px;
	text-decoration: none;
	color: white;
}
.link:hover{
	background: #03465C;
}

.welcome {
	background: url(background.jpg);
	background-size: cover;
	height: 768px;
	position: relative;
}

#bar {
	height: 250px;
	background-color: white;
	position: absolute;
	margin-top: 15%;
	width: 100%;
	text-align: center;
	/*opacity: 0.6;*/
}

.welcome h1{
	font-size: 2em;
	margin-top: 80px;
	text-decoration: underline;
	margin-bottom: -15px;
	color: #595757;
}

.welcome h3 {
	margin-bottom: 40px;
	font-size: 1em;
	color: #595757;
}

.welcome a {
	background: #595757;
	border-radius: 50px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	color: white;
	
}
#portfolio {
	height: 800px;
	display: block;
	background-color: #EDF1F2;
	position: relative;

}

.left_column {
	margin-top: 10%;
	width: 30%;
	margin-left: 20%;
	padding: 15px;
	float: left;
	/*background: #DCDDDE;
	border-radius: 10px;*/
	height: 400px;
	position: relative;
	border-right: dotted #DCDDDE;
	text-align: center;
}
.right_column {
	margin-top: 10%;
	width: 30%;
	margin-right: 20%;
	padding: 15px;
	float: left;
	/*background: #DCDDDE;
	border-radius: 10px;*/
	height: 300px;
	position: relative;
	text-align: center;

}


.column a {

	padding: 10px 20px 10px 20px;
	background: white;
	text-decoration: none;
	color: black;
}

.column h3 {
	font-size: 1.5em;
	margin-top: -10px;
	text-align: center;
	padding: 20px;
	color: #595757;
}

.small_image {
	width: 250px;
	height: 250px;
	margin: auto;
}
.contact {
	width: 96.68%;
	height: 300px;
	margin: 1.66%;
	float: left;
	border-radius: 10px;
	padding: 20px;
	border: dotted #DCDDDE;
}

.contact h3 {
	margin-left: 20px;
	font-size: 1.5em;
	color: #595757;
}

footer {
	clear: both;
	background-color: #595757;
	height: 100px;
}

