* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.hero {
	color: #573231;
	background: url(stage-lighting.jpg);
	background-size: cover;
	height: 700px;
	text-align: center;
	padding: 200px 0;
	
}
.hero div {
	background-color: #F2F3F4;
	width: 100%;
	padding: 40px;
}

.hero hr {
	margin: auto;
	width: 430px;
	height: 4px;
	border: none;
	background: #F4A549;
 
}

h1 {
	font-size: 3em;
	font-family: 'Scope One', serif;

}

.hero p {
	padding: 10px;
	font-size: 1.5em;
	font-family: 'Scope One', serif;
}

hr {
	width: 100%;
	height: 2px;
	border: none;
	background: #F4A549;

}
.detail {
	text-align: center;
	padding: 150px 15% 180px 15%;
	font-family: 'Scope One', serif;
	background: #F2F3F4;
}

.detail div {
	border: dotted 3px #F4A549;
	padding: 50px 100px 50px 100px;
	color: #402524;

}
.detail p {
	font-size: 1.5em;
}
.detail li {
	list-style-type: none;
	padding: 10px;
	font-size: 1.2em;
}

footer {
	height: 200px;
	text-align: center;
	background: #402524;
	padding: 80px;
	font-family: 'Scope One', serif;
}

/*footer a {
	font-size: 2em;
	padding: 20px 30px 20px 30px;
	text-decoration: none;
	color: #402524;
	background: #F2F3F4;
	border-radius: 50px;
	border: solid 4px #F4A549;
}*/
footer a {
  background: #F2F3F4;
  /*background-image: -webkit-linear-gradient(top, #F2F3F4, #F1D3C9);
  background-image: -moz-linear-gradient(top, #F2F3F4, #F1D3C9);
  background-image: -ms-linear-gradient(top, #F2F3F4, #F1D3C9);
  background-image: -o-linear-gradient(top, #F2F3F4, #F1D3C9);
  background-image: linear-gradient(to bottom, #F2F3F4, #F1D3C9);*/
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border: solid 2px #F4A549;
  border-radius: 15px;
  text-shadow: 1px 1px 0px #a39796;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #1F1211;
  font-size: 23px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

footer a:hover {
  background: #F4A549;
  text-decoration: none;
}